.qs_6x3_cell_ { text-align: left; font-family: Helvetica, Arial, sans-serif; font-size: 12.0pt; color:rgb(0,0,0) }
div.qs_6x3_cell_ { margin-top: 0.04in; margin-bottom: 0.04in }

.qs___Rev__ { font-family: Times, 'Times New Roman', serif; font-size: 12.0pt; color:rgb(0,0,0) }
div.qs___Rev__ { margin-top: 0.04in; margin-bottom: 0.04in }

.qs___Undo__ { font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs___Undo__ { margin-top: 0.04in; margin-bottom: 0.04in }

.qs_PgFootKicker_ { font-family: Helvetica, Arial, sans-serif; font-size: 10.0pt; font-weight: bold; font-style: italic; color:rgb(0,0,0) }
div.qs_PgFootKicker_ { margin-top: 0.03in; margin-bottom: 0.03in }

.qs_PgNumberEven_ { text-align: right; font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; font-weight: bold; font-style: italic; color:rgb(0,0,0) }
div.qs_PgNumberEven_ { margin-bottom: 0.00in }

.qs_PgNumberOdd_ { font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; font-weight: bold; font-style: italic; color:rgb(0,0,0) }
div.qs_PgNumberOdd_ { margin-bottom: 0.00in }

.qs_Top_O_Page_ { text-align: center; padding-left: 0 !important; font-family: Times, 'Times New Roman', serif; font-size: 26.0pt; font-weight: bold; color:rgb(0,0,0) }
div.qs_Top_O_Page_ { margin-top: 0.75in; margin-bottom: 0.00in }

.qs_UnoffHeadLeft_ { text-align: left; font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; font-weight: bold; color:rgb(0,0,0) }
div.qs_UnoffHeadLeft_ { margin-top: 0.04in; margin-bottom: 0.04in }

.qs_UnoffHeadRight_ { text-align: right; font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; font-weight: bold; color:rgb(0,0,0) }
div.qs_UnoffHeadRight_ { margin-top: 0.04in; margin-bottom: 0.04in }

.qs_action__NS_inappl_ { text-indent: 0.30in; word-spacing: 0px; font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_action__NS_inappl_ { margin-bottom: 0.00in }

.qs_anomaly_ { text-indent: 0.23in; word-spacing: 0px; font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_anomaly_ { margin-top: 0.03in; margin-bottom: 0.03in }

.qs_atxt_1section_ { font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_atxt_1section_ { margin-top: 0.17in; margin-bottom: 0.03in }

.qs_atxt_2subsec_ { text-indent: 0.23in; word-spacing: 0px; font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_atxt_2subsec_ { margin-top: 0.03in; margin-bottom: 0.03in }

.qs_atxt_3para_ { text-indent: 0.23in; word-spacing: 0px; font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_atxt_3para_ { margin-top: 0.03in; margin-bottom: 0.03in }

.qs_atxt_4subdiv_ { text-indent: 0.30in; word-spacing: 0px; font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_atxt_4subdiv_ { margin-top: 0.03in; margin-bottom: 0.03in }

.qs_atxt_5subdpara_ { text-indent: 0.30in; word-spacing: 0px; font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_atxt_5subdpara_ { margin-top: 0.03in; margin-bottom: 0.03in }

.qs_bullet_ { text-indent: -0.38in; word-spacing: 0px; text-align: left; font-family: Times, 'Times New Roman', serif; font-size: 14.0pt; color:rgb(0,0,0) }
div.qs_bullet_ { margin-top: 0.06in; margin-bottom: 0.06in; margin-left: 1.13in; margin-right: 1.13in }

.qs_cite_ { text-align: left; font-family: Times, 'Times New Roman', serif; font-size: 13.0pt; color:rgb(0,0,0) }
div.qs_cite_ { margin-top: 0.38in; margin-bottom: 0.00in }

.qs_dblline_ { text-align: center; padding-left: 0 !important; font-family: Times, 'Times New Roman', serif; font-size: 12.0pt; color:rgb(0,0,0) }
div.qs_dblline_ { margin-top: 0.06in; margin-bottom: 0.08in }

.qs_foot_left_ { text-align: left; font-family: Times, 'Times New Roman', serif; font-size: 9.0pt; color:rgb(0,0,0) }
div.qs_foot_left_ { margin-top: 0.04in; margin-bottom: 0.04in }

.qs_foot_right_ { text-align: right; font-family: Times, 'Times New Roman', serif; font-size: 9.0pt; color:rgb(0,0,0) }
div.qs_foot_right_ { margin-top: 0.04in; margin-bottom: 0.04in }

.qs_graphic_ { text-align: center; padding-left: 0 !important; font-family: Times, 'Times New Roman', serif; font-size: 12.0pt; color:rgb(0,0,0) }
div.qs_graphic_ { margin-top: 0.11in; margin-bottom: 0.23in }

.qs_head_pagel_ { text-align: left; font-family: Times, 'Times New Roman', serif; font-size: 12.0pt; color:rgb(0,0,0) }
div.qs_head_pagel_ { margin-top: 0.04in; margin-bottom: 0.04in }

.qs_head_pager_ { text-align: right; font-family: Times, 'Times New Roman', serif; font-size: 12.0pt; color:rgb(0,0,0) }
div.qs_head_pager_ { margin-top: 0.04in; margin-bottom: 0.04in }

.qs_head_title_ { font-family: Helvetica, Arial, sans-serif; font-size: 11.0pt; font-weight: bold; font-variant: small-caps; text-transform:uppercase; color:rgb(0,0,0) }
div.qs_head_title_ { margin-top: 0.06in; margin-bottom: 0.06in }

.qs_line_ { text-align: center; padding-left: 0 !important; font-family: Times, 'Times New Roman', serif; font-size: 12.0pt; color:rgb(0,0,0) }
div.qs_line_ { margin-top: 0.06in; margin-bottom: 0.08in }

.qs_list_bullet_ { text-indent: -0.38in; word-spacing: 0px; text-align: left; font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_list_bullet_ { margin-bottom: 0.00in; margin-left: 1.13in; margin-right: 1.13in }

.qs_list_letter_ { text-indent: -0.75in; word-spacing: 0px; text-align: left; font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_list_letter_ { margin-bottom: 0.00in; margin-left: 1.13in; margin-right: 1.13in }

.qs_list_number_ { text-indent: -0.75in; word-spacing: 0px; text-align: left; font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_list_number_ { margin-bottom: 0.00in; margin-left: 1.13in; margin-right: 1.13in }

.qs_list_plain_ { text-indent: -0.38in; word-spacing: 0px; text-align: left; font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_list_plain_ { margin-bottom: 0.00in; margin-left: 1.13in; margin-right: 1.13in }

.qs_micro_caption_ { font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_micro_caption_ { margin-top: 0.04in; margin-bottom: 0.04in }

.qs_note_annot_ { text-indent: -0.15in; word-spacing: 0px; font-family: Times, 'Times New Roman', serif; font-size: 9.0pt; color:rgb(0,0,0) }
div.qs_note_annot_ { margin-left: 0.90in; margin-top: 0.02in; margin-bottom: 0.00in }

.qs_note_cont_ { text-indent: -0.15in; word-spacing: 0px; font-family: Times, 'Times New Roman', serif; font-size: 9.0pt; color:rgb(0,0,0) }
div.qs_note_cont_ { margin-left: 0.90in; margin-bottom: 0.06in }

.qs_note_history_ { text-indent: -0.15in; word-spacing: 0px; font-family: Times, 'Times New Roman', serif; font-size: 9.0pt; color:rgb(0,0,0) }
div.qs_note_history_ { margin-left: 0.90in; margin-top: 0.01in; margin-bottom: 0.00in }

.qs_note_judcoun_ { text-indent: -0.15in; word-spacing: 0px; font-family: Times, 'Times New Roman', serif; font-size: 9.0pt; color:rgb(0,0,0) }
div.qs_note_judcoun_ { margin-left: 0.90in; margin-top: 0.01in; margin-bottom: 0.00in }

.qs_note_note_ { text-indent: -0.15in; word-spacing: 0px; font-family: Times, 'Times New Roman', serif; font-size: 9.0pt; font-weight: bold; color:rgb(0,0,0) }
div.qs_note_note_ { margin-left: 0.90in; margin-top: 0.01in; margin-bottom: 0.06in }

.qs_note_para_ { text-indent: -0.15in; word-spacing: 0px; font-family: Times, 'Times New Roman', serif; font-size: 9.0pt; font-weight: bold; color:rgb(0,0,0) }
div.qs_note_para_ { margin-left: 0.90in; margin-bottom: 0.06in }

.qs_note_section_ { text-indent: -0.15in; word-spacing: 0px; font-family: Times, 'Times New Roman', serif; font-size: 9.0pt; color:rgb(0,0,0) }
div.qs_note_section_ { margin-left: 0.90in; margin-bottom: 0.06in }

.qs_note_subdiv_ { text-indent: -0.15in; word-spacing: 0px; font-family: Times, 'Times New Roman', serif; font-size: 9.0pt; color:rgb(0,0,0) }
div.qs_note_subdiv_ { margin-left: 0.90in; margin-bottom: 0.06in }

.qs_note_subdpar_ { text-indent: -0.15in; word-spacing: 0px; font-family: Times, 'Times New Roman', serif; font-size: 9.0pt; color:rgb(0,0,0) }
div.qs_note_subdpar_ { margin-left: 0.90in; margin-bottom: 0.06in }

.qs_note_subsec_ { text-indent: -0.15in; word-spacing: 0px; font-family: Times, 'Times New Roman', serif; font-size: 9.0pt; font-weight: bold; color:rgb(0,0,0) }
div.qs_note_subsec_ { margin-left: 0.90in; margin-bottom: 0.06in }

.qs_note_xref_ { text-indent: -0.15in; word-spacing: 0px; font-family: Times, 'Times New Roman', serif; font-size: 9.0pt; color:rgb(0,0,0) }
div.qs_note_xref_ { margin-left: 0.90in; margin-top: 0.01in; margin-bottom: 0.00in }

.qs_note_xref_code_ { text-indent: -0.15in; word-spacing: 0px; font-family: Times, 'Times New Roman', serif; font-size: 9.0pt; color:rgb(0,0,0) }
div.qs_note_xref_code_ { margin-left: 0.90in; margin-top: 0.01in; margin-bottom: 0.00in }

.qs_num_chapnum_ { text-align: center; padding-left: 0 !important; font-family: Times, 'Times New Roman', serif; font-size: 14.0pt; font-weight: bold; color:rgb(0,0,0) }
div.qs_num_chapnum_ { margin-top: 0.06in; margin-bottom: 0.06in }

.qs_num_paranum_ { font-weight: bold; font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_num_paranum_ { margin-top: 0.06in; margin-bottom: 0.06in }

.qs_num_sectnum_ { font-family: Helvetica, Arial, sans-serif; font-size: 11.0pt; font-weight: bold; color:rgb(0,0,0) }
div.qs_num_sectnum_ { margin-top: 0.06in; margin-bottom: 0.06in }

.qs_num_subchap_ { text-align: center; padding-left: 0 !important; font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; font-variant: small-caps; text-transform:uppercase; color:rgb(0,0,0) }
div.qs_num_subchap_ { margin-top: 0.31in; margin-bottom: 0.00in }

.qs_num_subdnum_ { font-weight: bold; font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_num_subdnum_ { margin-top: 0.06in; margin-bottom: 0.06in }

.qs_num_subdparanum_ { font-weight: bold; font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_num_subdparanum_ { margin-top: 0.06in; margin-bottom: 0.06in }

.qs_num_subsecnum_ { font-family: Helvetica, Arial, sans-serif; font-size: 11.0pt; font-weight: bold; color:rgb(0,0,0) }
div.qs_num_subsecnum_ { margin-top: 0.06in; margin-bottom: 0.06in }

.qs_overview_ { text-indent: -0.38in; word-spacing: 0px; text-align: left; font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_overview_ { margin-top: 0.15in; margin-bottom: 0.00in; margin-left: 2.25in }

.qs_para_ { font-family: Times, 'Times New Roman', serif; font-size: 9.0pt; color:rgb(0,0,0) }
div.qs_para_ { margin-top: 0.04in; margin-bottom: 0.04in }

.qs_ref_cfr_ { font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_ref_cfr_ { margin-top: 0.06in; margin-bottom: 0.06in }

.qs_ref_codenuma_ { font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_ref_codenuma_ { margin-top: 0.06in; margin-bottom: 0.06in }

.qs_ref_codenumb_ { font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_ref_codenumb_ { margin-top: 0.06in; margin-bottom: 0.06in }

.qs_ref_execord_ { font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_ref_execord_ { margin-top: 0.06in; margin-bottom: 0.06in }

.qs_ref_nonref_ { font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_ref_nonref_ { margin-top: 0.06in; margin-bottom: 0.06in }

.qs_ref_publaw_ { font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_ref_publaw_ { margin-top: 0.06in; margin-bottom: 0.06in }

.qs_ref_statnuma_ { font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_ref_statnuma_ { margin-top: 0.06in; margin-bottom: 0.06in }

.qs_ref_statnumb_ { font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_ref_statnumb_ { margin-top: 0.06in; margin-bottom: 0.06in }

.qs_ref_usc_ { font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_ref_usc_ { margin-top: 0.06in; margin-bottom: 0.06in }

.qs_ref_usconst_ { font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_ref_usconst_ { margin-top: 0.06in; margin-bottom: 0.06in }

.qs_ref_wisconst_ { font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_ref_wisconst_ { margin-top: 0.06in; margin-bottom: 0.06in }

.qs_ref_wissess_ { font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_ref_wissess_ { margin-top: 0.06in; margin-bottom: 0.06in }

.qs_table_cell_ { text-align: left; font-family: Times, 'Times New Roman', serif; font-size: 9.0pt; color:rgb(0,0,0) }
div.qs_table_cell_ { margin-top: 0.04in; margin-bottom: 0.04in }

.qs_text_treat_ { text-indent: 0.30in; word-spacing: 0px; font-family: Times, 'Times New Roman', serif; font-size: 12.0pt; color:rgb(0,0,0) }
div.qs_text_treat_ { margin-bottom: 0.00in }

.qs_title_chapter_ { text-align: center; padding-left: 0 !important; font-family: Helvetica, Arial, sans-serif; font-size: 13.0pt; font-weight: bold; font-variant: small-caps; text-transform:uppercase; color:rgb(0,0,0) }
div.qs_title_chapter_ { margin-top: 0.15in; margin-bottom: 0.45in }

.qs_title_para_ { font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; font-style: italic; color:rgb(0,0,0) }
div.qs_title_para_ { margin-top: 0.06in; margin-bottom: 0.06in }

.qs_title_section_ { font-family: Helvetica, Arial, sans-serif; font-size: 11.0pt; font-weight: bold; color:rgb(0,0,0) }
div.qs_title_section_ { margin-top: 0.06in; margin-bottom: 0.06in }

.qs_title_sub_section_ { font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; font-variant: small-caps; text-transform:none; color:rgb(0,0,0) }
div.qs_title_sub_section_ { margin-top: 0.06in; margin-bottom: 0.06in }

.qs_title_subchap_ { text-align: center; padding-left: 0 !important; font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; font-variant: small-caps; text-transform:uppercase; color:rgb(0,0,0) }
div.qs_title_subchap_ { margin-top: 0.21in; margin-bottom: 0.00in }

.qs_title_subdiv_ { font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_title_subdiv_ { margin-top: 0.06in; margin-bottom: 0.06in }

.qs_toc_entry_ { text-indent: -0.72in; word-spacing: 0px; font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs_toc_entry_ { margin-bottom: 0.00in; margin-left: 0.72in }

.qs_toc_subchap_ { text-align: center; padding-left: 0 !important; font-family: Times, 'Times New Roman', serif; font-size: 9.0pt; font-variant: small-caps; text-transform:uppercase; color:rgb(0,0,0) }
div.qs_toc_subchap_ { margin-top: 0.02in; margin-bottom: 0.02in }

.qs_treat_ { font-family: Times, 'Times New Roman', serif; font-size: 12.0pt; color:rgb(0,0,0) }
div.qs_treat_ {  }

.qs_x_nstat_start_ { text-align: left; font-family: Times, 'Times New Roman', serif; font-size: 6.0pt; color:rgb(255,255,255) }
div.qs_x_nstat_start_ { margin-top: 0.05in; margin-bottom: 0.05in }

.qs_x_sect_ { text-indent: 0.30in; word-spacing: 0px; font-family: Times, 'Times New Roman', serif; font-size: 12.0pt; font-weight: bold; color:rgb(0,0,0) }
div.qs_x_sect_ { margin-top: 0.06in; margin-bottom: 0.06in }

.qs_x_sect_dict_ { text-indent: 0.30in; word-spacing: 0px; font-family: Times, 'Times New Roman', serif; font-size: 12.0pt; font-weight: bold; font-variant: small-caps; text-transform:none; color:rgb(0,0,0) }
div.qs_x_sect_dict_ { margin-top: 0.06in; margin-bottom: 0.06in }

.qs___atxt_3para_ { font-family: Times, 'Times New Roman', serif; font-size: 9.0pt; font-weight: bold; color:rgb(0,0,0) }
div.qs___atxt_3para_ { margin-top: 0.04in; margin-bottom: 0.04in }

.qs___bullet_ { font-family: Times, 'Times New Roman', serif; font-size: 14.0pt; color:rgb(0,0,0) }
div.qs___bullet_ { margin-top: 0.04in; margin-bottom: 0.04in }

.qs___header_ { font-family: Helvetica, Arial, sans-serif; font-size: 12.0pt; font-weight: bold; color:rgb(0,0,0) }
div.qs___header_ {  }

.qs___list_bullet_ { font-family: Times, 'Times New Roman', serif; font-size: 14.0pt; color:rgb(0,0,0) }
div.qs___list_bullet_ { margin-top: 0.04in; margin-bottom: 0.04in }

.qs___list_letter_ { font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs___list_letter_ { margin-top: 0.04in; margin-bottom: 0.04in }

.qs___list_number_ { font-family: Times, 'Times New Roman', serif; font-size: 11.0pt; color:rgb(0,0,0) }
div.qs___list_number_ { margin-top: 0.04in; margin-bottom: 0.04in }

.qs___note_history_ { font-family: Times, 'Times New Roman', serif; font-size: 9.0pt; font-weight: bold; text-indent: -0.15in; word-spacing: 0px }
div.qs___note_history_ { margin-left: 0.90in; margin-top: 0.04in; margin-bottom: 0.04in }

.qs___note_judcoun_ { text-indent: -0.15in; word-spacing: 0px; font-family: Times, 'Times New Roman', serif; font-size: 9.0pt; color:rgb(0,0,0) }
div.qs___note_judcoun_ { margin-left: 0.90in; margin-top: 0.04in; margin-bottom: 0.04in }

.qs___note_note_ { font-family: Times, 'Times New Roman', serif; font-size: 9.0pt; font-weight: bold; text-indent: -0.15in; word-spacing: 0px }
div.qs___note_note_ { margin-left: 0.90in; margin-top: 0.04in; margin-bottom: 0.04in }

.qs___note_xref_ { font-family: Times, 'Times New Roman', serif; font-size: 9.0pt; font-weight: bold; text-indent: -0.15in; word-spacing: 0px }
div.qs___note_xref_ { margin-left: 0.90in; margin-top: 0.04in; margin-bottom: 0.04in }

.qs___note_xref_code_ { text-indent: -0.15in; word-spacing: 0px; font-family: Times, 'Times New Roman', serif; font-size: 9.0pt; color:rgb(0,0,0) }
div.qs___note_xref_code_ { margin-left: 0.90in; margin-top: 0.04in; margin-bottom: 0.04in }

.qs___para2_ { font-family: Times, 'Times New Roman', serif; font-size: 12.0pt; color:rgb(0,0,0) }
div.qs___para2_ { margin-top: 0.06in; margin-bottom: 0.06in }

